/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  GRID
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.grid,
.container {
  width: 960px;
  margin: 0 auto;

}


.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  MAIN
  ========================================
*/

body {
  color: #637282;
  font-family: AtlasGrotesk, Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 300;
}


/*
  ========================================
  HEADER / NAV
  ========================================
*/

.header {
  height: 80px;
  width: 100%;
  color: #af3b21;
  position: fixed;
  align-items: center;
  -webkit-box-shadow: -2px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0 1px 4px 0 rgba(99,114,130,.15);
  /* padding: 16px 16px 0 16px; */
  font-size: 20px;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.header-title {
  margin-left: 5%;
  font-weight: bold;
  padding-bottom: 19px;
  padding-top: 19px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 42px;
  float: left;
}

.header-image {
  display: inline-block;
  padding: 16px 0 19px 0;
  /* height: 50px;  */
  /* width50px; */
}

.header-nav {
  height: 80px;
  float: right;
  margin-right: 5%;
  display: inline-block;
  padding-bottom: 19px;
  padding-top: 35px;
}

.header-nav-button {
  text-decoration: none;
  color: #1d6891;
  font-size: 16px;

}

/*
  ========================================
  MAIN
  ========================================
*/

.main {
  padding-top: 100px;
  height: auto;
}

/*
  ========================================
  CAll TO ACTION / SIGNUP
  ========================================
*/


.call-row-container {
  height: 380px;
  width: 95%;
  margin: 0 auto;
  padding-top:

}

.brain-image-box {
    display: inline-block;
    /* margin-bottom: 0px; */
    width: 55%;
    float: none;
}

.tagline-signup {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.brain-image {
  /* display: inline-block; */
  margin: 20px 0 0 20px;
}
