/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  GRID
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.grid,
.container {
  width: 960px;
  margin: 0 auto;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  padding: 66px 0 44px 0;
}

/*
  ========================================
  MAIN
  ========================================
*/

body {
  color: #637282;
  font-family: AtlasGrotesk, Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 300;
}


/*
  ========================================
  HEADER / NAV
  ========================================
*/

.header {
  height: 80px;
  width: 100%;
  color: #af3b21;
  position: fixed;
  align-items: center;
  -webkit-box-shadow: -2px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0 1px 4px 0 rgba(99,114,130,.15);
  /* padding: 16px 16px 0 16px; */
  font-size: 20px;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.header-title {
  margin-left: 5%;
  font-weight: bold;
  padding-bottom: 19px;
  padding-top: 19px;
  font-size: 42px;
  float: left;
}

.header-title a {
  color: black;
  text-decoration: none;
}

.header-title span {
  color: #af3b21;
}

.header-image {
  display: inline-block;
  padding: 16px 0 19px 0;
  /* height: 50px;  */
  /* width50px; */
}

.header-nav {
  height: 80px;
  float: right;
  margin-right: 5%;
  display: inline-block;
  padding-bottom: 19px;
  padding-top: 35px;
}

.header-nav-button {
  text-decoration: none;
  color: #1d6891;
  font-size: 16px;

}

/*
  ========================================
  MAIN
  ========================================
*/

.main {
  height: auto;
  padding-top: 80px;
}

/*
  ========================================
  HERO / CAll TO ACTION
  ========================================
*/

.hero {
  background-color: #0d2f81;
  font-family: 'Palanquin', sans-serif;
  line-height: 5.5em;
}

.hero h1 {
  color: #ffafa2;
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
}

.hero p {
  color: #fff;
  line-height: 1.5;
  margin: 5px;
}



/*
  ========================================
  BUTTONS
  ========================================
*/

/* BUTTON FOR INITIAL CALL TO ACTION */

.btn {
  background-color: #fff;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-left: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: red;
}

/* .btn-default {
  border: 0;
  background: #fff;
  padding: 11px 30px;
  font-size: 16px;
} */

/* .btn-default:hover {
  background: #fff;
} */

/*
  ========================================
  COLUMNS
  ========================================
*/

.col-1-3 {
  width: 30%;
}

.col-2-3 {
  width: 60%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
}

.grid,
.col-1-3,
.col-2-3 {
  padding: 30px 15px 50px 15px;
}
